body {
  background: linear-gradient(45deg, #ff7e5f, #feb47b, #fffb95, #c7ffd8);
  animation: gradientAnimation 10s ease infinite alternate;
  font-family: Arial, sans-serif; 
  margin: 0; 
  padding: 0; 
  height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


